{% if site.data.pages.contents[0] %}
    {% for item in site.data.pages.contents %}
        <ul class="side-nav-list">
            <li>
                {% if item.entries[0] %}
                    <a href="#{{ item.id }}" data-toggle="collapse">{{ item.title }}</a>
                    <ul id="{{ item.id }}" class="collapse side-nav-list">
                        {% for entry in item.entries %}
                            <li>
                                <a class="nav-link" href={{ entry.url | relative_url }}>{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% endif %}